# Problem 1: Unique Words in a Sentence
## Problem Statement
Given a sentence, identify all unique words and display:
1. The count of unique words
2. The unique words themselves
## Hint
1. Split the sentence into individual words.
2. Convert the list of words into a set to remove duplicates.
3. Print both the set and its length.
## Input
Enter sentence: python is easy and python is powerful

## Expected Output
Unique words count: 5  
Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

## Real-Time Applications
* Text analytics
* Natural Language Processing (NLP) preprocessing
* Search engine indexing
* Chat analysis systems

In [11]:
sentence = "python is easy and python is powerful"

# Split into words
words = sentence.split()

# Convert to set
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'is', 'powerful', 'and', 'python', 'easy'}

# Problem 2: Highest Salary from Employee Data
## Problem Statement
Store employee names and their salaries, and determine which employee has the highest salary.
## Hint
1. Use a dictionary where the key is the employee name and the value is the salary.
2. Compare salary values to find the highest.
## Input Format
A dictionary where:
Keys represent employee names
Values represent employee salaries
## Example Input
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

## Expected Output
Highest Salary: Ravi - 75000

## Real-Time Applications
* HR management systems
* Payroll analysis

In [12]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find highest salary
highest = max(employees, key=employees.get)

print("Highest Salary:", highest, "-", employees[highest])

Highest Salary: Ravi - 75000

# Problem 3: Find Maximum and Minimum Values
## Problem Statement
Find the maximum and minimum values from a list of numbers.
## Hint
1. Initialize both maximum and minimum with the first element of the list.
2. Use a loop to compare each element.
## Input Format
A list of integers where each element represents a numeric value.
## Example Input
numbers = [45, 22, 89, 10, 66]

## Expected Output
List: [45, 22, 89, 10, 66]  
Max: 89  
Min: 10

## Real-Time Applications
* Sales data analysis
* Temperature monitoring systems
* Performance metric evaluation

In [13]:
numbers = [45, 22, 89, 10, 66]

max_num = numbers[0]
min_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

print("List:", numbers)
print("Max:", max_num)
print("Min:", min_num)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# Problem 4: Count Products Above a Price Threshold
## Problem Statement
Count how many products have a price greater than 1000.
## Hint
Use a loop to compare each price with 1000.
## Input Format
A list of integers where each element represents the price of a product.
## Example Input
prices = [450, 1200, 899, 1500, 300]

## Expected Output
Products above 1000: 2

## Real-Time Applications
* E-commerce product filtering
* Budget analysis

In [14]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

# Problem 5: Calculate Attendance Percentage
## Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
## Hint
1. Count the number of "P" values.
2. Divide by the total number of days.
## Example Input
attendance = ["P", "P", "A", "P", "P"]

## Expected Output
Attendance Percentage: 80.0

## Real-Time Applications
* Internship tracking systems
* HR attendance management systems

In [15]:
attendance = ["P", "P", "A", "P", "P"]

present = attendance.count("P")
total = len(attendance)

percentage = (present / total) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

# Problem 6: Remove Duplicate Phone Numbers
## Problem Statement
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
## Hint
1. Convert the list into a set.
2. Sets automatically remove duplicate values.
## Input Format
A list of integers where each integer represents a phone number.
## Example Input
phone_numbers = [9876543210, 9123456789, 9876543210]

## Expected Output
Unique phone numbers: {9876543210, 9123456789}

## Real-Time Applications
* Contact management applications
* Customer Relationship Management (CRM) systems
* Marketing databases

In [16]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# Problem 7: Count Character Frequency
## Problem Statement
Count how many times each character appears in a given string.
## Hint
1. Use a dictionary.
2. Increment the count for each character occurrence.
## Expected Output
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## Real-Time Applications
* Text analysis
* Password strength validation

In [17]:
text = "python"

char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Problem 8: Convert List to Tuple
## Problem Statement
Convert a list into a tuple and display it.
## Hint
Use the tuple() function.
## Expected Output
Tuple: (10, 20, 30)

## Real-Time Applications
* Making data read-only
* Configuration settings storage

In [18]:
my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

# Problem 9: Check if a Key Exists in a Dictionary
## Problem Statement
Check whether a specific key exists in a dictionary.
## Hint
Use the in keyword.
## Expected Output
Employee exists

## Real-Time Applications
* User validation systems
* Configuration verification

In [19]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

# Problem 10: Calculate Average Marks
## Problem Statement
Calculate the average marks of a student from a list of marks.
## Hint
1. Calculate the sum of all values.
2. Divide by the total number of marks.
## Expected Output
Average Marks: 72.5

## Real-Time Applications
* Student performance evaluation
* Result processing systems

In [20]:
marks = [70, 80, 65, 75]

total = sum(marks)
count = len(marks)

average = total / count

print("Average Marks:", average)

Average Marks: 72.5